/* BUTTON */

.button-wrapper {
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all 0.7s ease-in;
    z-index: 10;
  }
  
  @media (max-width: 1400px) {
    .button-wrapper {
      grid-column: 3;
      grid-row: 4;
      justify-self: center;
    }
  }
  
  button {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: var(--font-color);
    border: 1px solid var(--main-color);
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--main-color);
    box-shadow:
      -8px -4px 8px 0px var(--light),
      8px 4px 12px 0px var(--shadow);
    outline: none;
    cursor: pointer;
    transition: background-color 0s ease;
  }
  
  button:active {
    box-shadow:
      4px 4px 4px 0px var(--shadow) inset,
      -4px -4px 4px 0px var(--light) inset;
    transition: box-shadow 0.5s ease-in;
  }
  
  button:hover {
    color: orange;
  }
  
  button:focus {
    outline: 0;
  }
  
  /* WAVES */
  
  .wave {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    filter: blur(1px);
    z-index: -100;
  }
  
  .wave-animate {
    box-shadow: .4rem .4rem .8rem var(--shadow), 
    -.4rem -.4rem .8rem  var(--light);
    background: linear-gradient(to bottom right, var(--shadow) 0%,  var(--light) 100%);
    animation: waves 1s linear;
    animation-iteration-count: 1;
  }
  
  @keyframes waves {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }