/* CONTENT */

.hide {
    opacity: 0.01;
  }
  
  .content-wrapper {
    display: grid;
    width: 100vw;
  }
  
  .content-box {
    position: relative;
    width: 350px;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 50px;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    border: 2px solid var(--main-color);
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--main-color);
    box-shadow:
      -8px -4px 8px 0px var(--light),
      8px 4px 12px 0px var(--shadow);
    outline: none;
    transition: background-color 0s ease, opacity 0.5s ease-in;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center 30px;
  }

  .content-info {
    position: absolute;
    bottom: 20px;
  }
  
  @media (max-width: 500px) {
    .content-box {
      width: 80%;
    }
  }

.light-sun {
  background-image: url('../gifs/light-sun.gif');
}

.light-clouds {
  background-image: url('../gifs/light-clouds.gif');
}

.light-rain {
  background-image: url('../gifs/light-rain.gif');
}

.light-suncloud {
  background-image: url('../gifs/light-suncloud.gif');
}

.dark-sun {
  background-image: url('../gifs/dark-sun.gif');
}

.dark-clouds {
  background-image: url('../gifs/dark-clouds.gif');
}

.dark-rain {
  background-image: url('../gifs/dark-rain.gif');
}

.dark-suncloud {
  background-image: url('../gifs/dark-suncloud.gif');
}