:root {
  --main-color: #ecf0f3;
  --light: #ffffff;
  --shadow: #d1d9e6;
  --font-color: #091921;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 300;
  background-color: var(--main-color);
  color: var(--font-color);
}

/* Logos inside wrapper div */
.light-logo {
  background-image: url('../gifs/light-logo.png');
}

.dark-logo {
  background-image: url('../gifs/dark-logo.png');
}

.wrapper {
  height: 100vh;
  width: 100vw;
  color: var(--font-color);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 90% 30px;
}

.top-wrapper {
  width: 100vw;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: 200px 1fr 1fr 1fr 200px;
  grid-template-rows: 100px 1fr;
}


@media (max-width: 1400px) {
  .top-wrapper {
    grid-template-columns: 80px 1fr 1fr 1fr 80px;
    grid-template-rows: 1fr 1fr 30px 1fr;
  }
}